body {
    font-size: 16px;
    color: black;
    font-family: 'Cabin', sans-serif;
    height: 100vh;
    /*background-image: url("bg.jpg");*/
    /*background-color: #a4a4a4;*/
    background-color: #f7f4f4;
}

#menu {
    background-color: rgba(0, 0, 0, 0.6);
    background-color: #212121;
    color: white;
}

.login-panel {
    margin-top: 10rem;
    margin-bottom: 10rem;
    /*box-shadow: 10px 10px 5px grey;*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*background-color: #212121;*/
    font-weight: bold;
    /*color: white;*/
}

.nav-link {
    -webkit-transition: background-color 2s, border-radius 2s, transform 1s, color 1s; /* Safari */
    transition: background-color 2s, border-radius 2s, transform 1s, color 1s;
    border-radius: 75%;
    color: green;
}

.nav-link:hover {
    background-color: green;
    border-radius: 50%;
    transform: matrix(1, -0.1, 0, 1, 0, 0);
    color: white;
}

.premium {
    color: white;
    text-shadow: 0 0 3px #FF0000;
}

.progress {
    height: 2rem;
    font-size: 1.2rem;
}