<!DOCTYPE html>
<html lang="pl" th:lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Konta</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <script type="text/javascript">
        function checkOldName(oldName) {
            var input = document.getElementById('oldName').value;
            checkName();

            setInterval(checkName, 100);

            function checkName() {
                input = document.getElementById('oldName').value;
                if (input === oldName) {
                    document.getElementById('editButton').disabled = false;
                }
            }
        }
    </script>
</div>
<nav id="menu" class="navbar fixed-top navbar-light rounded-bottom border-bottom border-dark font-weight-bold">
    <a class="navbar-brand text-dark">Menu</a>
    <a class="nav-link" th:href="@{/homepage}">Strona główna</a>
    <a class="nav-link" th:href="@{/accounts}">Konta</a>
    <a class="nav-link" th:href="@{/budgets}">Budżety</a>
    <a class="nav-link" th:href="@{/transactions}">Transakcje</a>
    <a class="nav-link" th:href="@{/places}">Miejsca</a>
    <a class="nav-link" th:href="@{/categories}">Kategorie</a>
    <span>
        <a class="navbar-text text-dark"
           th:text="${session.username != null} ? ${session.username} : 'Nie jesteś zalogowany'"></a>
        <a th:if="${session.username == null}" th:href="@{/login}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logowanie</button></a>
        <a th:if="${session.username == null}" th:href="@{/registration}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rejestracja</button></a>
        <a th:if="${session.username != null}" th:href="@{/logout}"><button class="btn btn-outline-dark my-2 my-sm-0"
                                                                            type="submit">Wyloguj sie</button></a>
    </span>
</nav>
<div class="container">
    <div class="login-panel border border-dark rounded px-5 py-5">
        <p th:if="${errors} != null" class="text-center text-danger" th:text="#{standard.error.message}"></p>
        <h1 class="text-center">Konta</h1>
        <p class="text-center font-size">Wykorzystane konta: <span class="text-danger font-weight-bold">
        <p th:utext="${usedAccounts}" th:remove="tag"></p></span> z <p th:text="${availableAccounts}"
                                                                       th:remove="tag"></p> dostępnych.</p>
        <br>
        <hr>
        <br>
        <div class="container" th:each="accountValue : ${accountsValues}">
            <div class="text-center">
                <h3 th:text="${accountValue.accountName} + ' '" th:style="'display: inline'"></h3>
                <h3 th:text="'  (' + ${accountValue.moneyAmount} + 'zł)'"
                    th:class="(${accountValue.moneyAmount} >= 0 ? 'text-success' : 'text-danger')"
                    th:style="'display: inline'"></h3>
            </div>
            <br>
            <div class="progress text-center bg-light" th:height="2rem">
                <div class="progress-bar bg-danger" role="progressbar"
                     th:style="'width: ' + ${-(accountValue.getExpensesAmount() ?: 0)} + '%'"
                     th:aria-valuenow="${accountValue.getExpensesAmount() ?: 0}" aria-valuemin="0" aria-valuemax="100"
                     th:text="${accountValue.getExpensesAmount() ?: 0} + 'zł'">Wydatki
                </div>
                <div class="progress-bar bg-success" role="progressbar"
                     th:style="'width: ' + ${(accountValue.getRevenuesAmount() ?: 0)} + '%'"
                     th:aria-valuenow="${accountValue.getRevenuesAmount() ?: 0}" aria-valuemin="0" aria-valuemax="100"
                     th:text="${accountValue.getRevenuesAmount() ?: 0} + 'zł'">Wpływy
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <span class="row"><p class="col-sm-6">Nazwa konta: </p><p class="col-sm-6 text-success"
                                                                              th:text="${accountValue.accountName}"></p></span>
                    <span class="row"><p class="col-sm-6">Kwota na koncie: </p><p class="col-sm-6"
                                                                                  th:class="'col-sm-6 ' + (${accountValue.moneyAmount} >= 0 ? 'text-success' : 'text-danger')"
                                                                                  th:text="${accountValue.moneyAmount} + 'zł'"></p></span>
                    <span class="row"><p class="col-sm-6">Wydatki: </p><p class="col-sm-6 text-danger"
                                                                          th:text="(${accountValue.expensesAmount} ?: 0.0) + 'zł'"></p></span>
                    <span class="row"><p class="col-sm-6">Wpływy: </p><p class="col-sm-6 text-success"
                                                                         th:text="(${accountValue.revenuesAmount} ?: 0.0) + 'zł'"></p></span>
                </div>
                <div class="col-sm-6 text-center">
                    <div th:if="${accountValue.moneyAmount} >= 0">
                        <img src="/img/emoji-happy.png" width="25%">
                        <p class="text-success">Jesteś na plusie!</p>
                    </div>
                    <div th:if="${accountValue.moneyAmount} < 0">
                        <img src="/img/emoji-sad.png" width="25%">
                        <p class="text-danger">Jesteś na minusie!</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeAccountModal">
                        Usuń konto
                    </button>

                    <div class="modal fade" id="removeAccountModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Usuwanie konta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:if="${usedAccounts} == 1">Nie można usunąć konta. Musisz posiadać przynajmniej
                                        jedno konto! Najpierw dodaj nowe konto, następnie usuń te.</p>
                                    <p th:if="${usedAccounts} != 1">Usunięcie konta spowoduje usunięcie wszystkich
                                        transakcji przypisanych do tego konta!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij</button>
                                    <button type="button" class="btn btn-danger" th:if="${usedAccounts} != 1" th:href="@{/account/remove}">Usuń
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#renameAccountModal">
                        Zmień nazwę konta
                    </button>
                    <div class="modal fade" id="renameAccountModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Zmiana nazwy konta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="#" th:object="${changeAccountNameDto}" th:action="@{'/account/edit'}" method="POST"
                                      enctype="utf8">
                                    <div class="modal-body">
                                        <p th:remove="tag">Podaj starą nazwę konta, aby potwierdzić zmianę: </p>
                                        <br>
                                        <input th:onclick="'javascript:checkOldName(\'' + ${accountValue.accountName} + '\');'" id="oldName" type="text" th:field="*{oldName}">
                                        <br><br>
                                        <p th:remove="tag">Nowa nazwa konta: </p>
                                        <br>
                                        <input type="text" th:field="*{newName}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Zamknij
                                        </button>
                                        <button id="editButton" type="submit" class="btn btn-danger" disabled="true">Zmień</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
        </div>
        <div th:if="${usedAccounts} < ${availableAccounts}" class="container">
            <h2 class="text-center">Dodaj nowe konto</h2><br>
            <form th:object="${newAccountDto}" th:action="@{/account/new}" method="POST" enctype="utf8">
                <div class="row text-center">
                    <div class="col-8">
                        <input th:field="*{name}" type="text" class="form-control" placeholder="Nazwa konta">
                        <p class="text-danger text-center"><th:block th:if="${invalidAccountName} != null" th:text="${invalidAccountName}"/></p>
                    </div>
                    <div class="col-4">
                        <input th:field="*{moneyAmount}" value="0" type="number" step="0.01" class="form-control" placeholder="Początkowy stan konta">
                        <p class="text-danger text-center"><th:block th:if="${invalidAccountAmount} != null" th:text="${invalidAccountAmount}"/></p>
                    </div>
                    <input th:field="*{username}" th:value="${session.username}" th:hidden="true"/>
                    <p class="text-danger text-center"><th:block th:if="${usernameError} != null" th:text="${usernameError}"/></p>
                </div>
                <br>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Dodaj nowe konto</button>
                    </div>
                </div>
            </form>
            <br>
            <hr>
            <br>
        </div>
    </div>
</div>
</div>
</body>
</html>