<!DOCTYPE html>
<html lang="pl" th:lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<head>
    <title>Strona główna</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
</head>
<body>
<nav id="menu" class="navbar fixed-top navbar-light rounded-bottom border-bottom border-dark font-weight-bold">
    <a class="navbar-brand text-dark">Menu</a>
    <a class="nav-link" th:href="@{/homepage}">Strona główna</a>
    <a class="nav-link" th:href="@{/accounts}">Konta</a>
    <a class="nav-link" th:href="@{/budgets}">Budżety</a>
    <a class="nav-link" th:href="@{/transactions}">Transakcje</a>
    <a class="nav-link" th:href="@{/places}">Miejsca</a>
    <a class="nav-link" th:href="@{/categories}">Kategorie</a>
    <span>
        <a class="navbar-text text-dark"
           th:text="${session.username != null} ? ${session.username} : 'Nie jesteś zalogowany'"></a>
        <a th:if="${session.username == null}" th:href="@{/login}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logowanie</button></a>
        <a th:if="${session.username == null}" th:href="@{/registration}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rejestracja</button></a>
        <a th:if="${session.username != null}" th:href="@{/logout}"><button class="btn btn-outline-dark my-2 my-sm-0"
                                                                            type="submit">Wyloguj sie</button></a>
    </span>
</nav>
<div class="container">
    <div class="login-panel border border-dark rounded px-5 py-5">
        <div class="border-bottom border-dark">
            <h2 class="text-center">Nowa transakcja</h2><br>
            <form th:object="${newTransactionDto}" th:action="@{/homepage}" method="POST" enctype="utf8">
                <div class="row">
                    <div class="col-sm-12">
                        <input th:field="*{description}" type="text" class="form-control" placeholder="Opis">
                        <p class="text-danger text-center"><th:block th:if="${invalidDescription} != null" th:text="${invalidDescription}"/></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input th:field="*{value}" type="number" step="0.01" class="form-control" placeholder="Kwota">
                        <p class="text-danger text-center"><th:block th:if="${invalidValue} != null" th:text="${invalidValue}"/></p>
                    </div>
                    <div class="col-sm-4">
                        <input th:field="*{date}" type="date" class="form-control" id="datePicker">
                    </div>
                    <div class="col-sm-4">
                        <select required class="custom-select mr-sm-2" th:field="*{accountName}">
                            <option value="" disabled selected>Wybierz konto</option>
                            <option th:each="account : ${userAccountsNames}" th:value="${account}" th:text="${account}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select class="custom-select mr-sm-2" th:field="*{placeDescription}" >
                            <option th:value="${null}" selected>Wybierz miejsce (opcjonalnie)</option>
                            <option th:each="place : ${placesDescriptions}" th:value="${place}" th:text="${place}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select class="custom-select mr-sm-2" th:field="*{transactionCategoryName}" >
                            <option th:value="${null}" selected>Wybierz kategorie transakcji (opcjonalnie)</option>
                            <option th:each="transactionCategory : ${transactionCategoriesNames}" th:value="${transactionCategory}" th:text="${transactionCategory}"></option>
                        </select>
                    </div>
                    <input th:field="*{username}" th:value="${session.username}" th:hidden="true"/>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-success">Dodaj nową transakcję</button>
                    </div>
                </div>
            </form>
        </div>
        <br><br>
        <div class="row">
            <div class="col-5">
                <h2 class="text-center">Twoje dane:</h2><br>
                <span class="row"><p class="col-sm-6">Imię: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.name}"></p></span>
                <span class="row"><p class="col-sm-6">Nazwisko: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.surname}"></p></span>
                <span class="row"><p class="col-sm-6">Email: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.email}"></p></span>
                <span class="row"><p class="col-sm-6">Numer telefonu: </p><p class="col-sm-6 text-success" th:text="${userPublicData.phoneNumber} != null ? ${userPublicData.phoneNumber} : ${'nie podano'}"></p></span>
                <span class="row"><p class="col-sm-6">Typ użytkownika: </p><p class="col-sm-3 text-success" th:text="${userPublicData.userType.name}"></p><small th:if="${userPublicData.userType.name} != 'premium'" class="col-sm-3 text-center"><a th:href="@{/}" class="text-danger font-weight-bold">KUP PREMIUM</a></small></span>
                <span class="row"><p class="col-sm-6">Zdefiniowane konta: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.usedAccounts + '/' + userPublicData.userType.accountLimit}"></p></span>
                <span class="row"><p class="col-sm-6">Zdefiniowane miejsca: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.usedPlaces + '/' + userPublicData.userType.placeLimit}"></p></span>
                <span class="row"><p class="col-sm-6">Zdefiniowane kategorie transakcji: </p><p class="col-sm-6 text-success" th:text=" ${userPublicData.usedTransactionCategories + '/' + userPublicData.userType.transactionCategoryLimit}"></p></span>
            </div>
            <div class="col-1  border-right border-dark"></div>
            <div class="col-6">
                <h2 class="text-center">Ostatnie <p th:text="${#lists.size(lastTenTransactionsDto)}" th:remove="tag"></p> transakcji:</h2><br>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-light" th:each="transaction : ${lastTenTransactionsDto}" th:href="@{'/transaction?id=' + ${transaction.id}}">
                        <p th:text="${transaction.date + ' | ' + transaction.description + ' | ' + transaction.value + 'zł'}" th:remove="tag">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>