<!DOCTYPE html>
<html lang="pl" th:lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<head>
    <title>Wylogowanie</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
    <meta http-equiv="Refresh" content="3; url=/" />

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/styles.css}"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/global.js}"></script>
</head>
<body>
<div class="container">
    <div class="login-panel">
        <h1 class="text-center">Zostałeś poprawnie wylogowany!</h1>
        <br><br>
        <h4 class="text-center">Za chwilę zostaniesz przekierowany na stronę główną.<br>Jeżeli przekierowanie nie działa, kliknij <a
                th:href="@{/}">tutaj</a>.</h4>
    </div>
</div>
</body>
</html>