<!DOCTYPE html>
<html lang="pl" th:lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<head>
    <title>Edycja transakcji</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>

    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/time.js}"></script>
    <script th:src="@{/js/menuHide.js}"></script>
</head>
<body>
<nav id="menu" class="navbar fixed-top navbar-light rounded-bottom border-bottom border-dark font-weight-bold">
    <a class="navbar-brand text-dark">Menu</a>
    <a class="nav-link " th:href="@{/homepage}">Strona główna</a>
    <a class="nav-link" th:href="@{/accounts}">Konta</a>
    <a class="nav-link" th:href="@{/budgets}">Budżety</a>
    <a class="nav-link" th:href="@{/transcations}">Transakcje</a>
    <span>
        <a class="navbar-text text-dark"
           th:text="${session.username != null} ? ${session.username} : 'Nie jesteś zalogowany'"></a>
        <a th:if="${session.username == null}" th:href="@{/login}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logowanie</button></a>
        <a th:if="${session.username == null}" th:href="@{/registration}"><button
                class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rejestracja</button></a>
        <a th:if="${session.username != null}" th:href="@{/logout}"><button class="btn btn-outline-dark my-2 my-sm-0"
                                                                            type="submit">Wyloguj sie</button></a>
    </span>
</nav>
<div class="container">
    <div class="login-panel border border-dark rounded px-5 py-5">
        <form th:object="${transaction}" th:action="@{/transaction/edit}" method="POST" enctype="utf8">
            <input th:field="*{id}" th:value="${param.id}" th:hidden="true">
            <div class="row">
                <div class="col-sm-12">
                    <input th:field="*{description}" type="text" class="form-control" th:placeholder="*{description}">
                    <p class="text-danger text-center"><th:block th:if="${invalidDescription} != null" th:text="${invalidDescription}"/></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input th:field="*{value}" type="number" step="0.01" class="form-control" th:placeholder="*{value}">
                    <p class="text-danger text-center"><th:block th:if="${invalidValue} != null" th:text="${invalidValue}"/></p>
                </div>
                <div class="col-sm-4">
                    <input th:field="*{date}" type="date" class="form-control" id="datePicker" th:placeholder="*{date}">
                </div>
                <div class="col-sm-4">
                    <select required class="custom-select mr-sm-2" th:field="*{accountName}">
                        <option value="" disabled selected>Wybierz konto</option>
                        <option th:each="account : ${userAccountsNames}" th:value="${account}" th:text="${account}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <select class="custom-select mr-sm-2" th:field="*{placeDescription}" >
                        <option th:value="${null}" selected>Wybierz miejsce (opcjonalnie)</option>
                        <option th:each="place : ${placesDescriptions}" th:value="${place}" th:text="${place}"></option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select class="custom-select mr-sm-2" th:field="*{transactionCategoryName}" >
                        <option th:value="${null}" selected>Wybierz kategorie transakcji (opcjonalnie)</option>
                        <option th:each="transactionCategory : ${transactionCategoriesNames}" th:value="${transactionCategory}" th:text="${transactionCategory}"></option>
                    </select>
                </div>
                <input th:field="*{username}" th:value="${session.username}" th:hidden="true"/>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                </div>
            </div>
        </form>
    </div>


</div>
</body>
</html>